# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
.next/
out/
build/

# Secrets
.env
.env*.local

# Prisma
/prisma/*.db
/prisma/*.db-journal

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.sln
*.sw?
